BODY {
	FONT-SIZE: x-small; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f0ebcd
}
TD {
	FONT-SIZE: 11px
}
.new_table_css_1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
.new_td_css_1 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 50px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_2 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 300px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_3 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 150px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_4 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 20px; BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: center
}
.new_td_css_5 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 100px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_6 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 200px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_7 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 75px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_8 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 30px; BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: right
}
.new_td_css_9 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 10px; BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: right
}
.new_td_css_10 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 500px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_css_11 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 175px; BORDER-BOTTOM: #d3d3d3 1px solid
}
.new_td_label {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial
}
.text1 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.text2 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.hl A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.hl A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.hl A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.a_dg {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.folder {
	FONT-FAMILY: Wingdings
}
.textbox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.textbox_dg {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
.textbox_dg_df {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: #ccffff; TEXT-ALIGN: right
}
.textbox_dg_l {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.textbox_dg_c {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.textbox_rbl {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 11px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 11px; BACKGROUND-COLOR: white
}
.textbox_dg_tr {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.textbox_dg_tr_right {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
.textbox_dg_tr_arial {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.textbox_dg_tr_bold {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; WIDTH: 20px; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.textbox_dg_tr_bold_big {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: 0px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px solid; WIDTH: 200px; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 16px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.label_dg {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-ALIGN: center
}
.label_dg_2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 11px; MARGIN-LEFT: 1px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 1px; FONT-FAMILY: Tahoma, Verdana, Arial
}
.textbox_c1 {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.textbox_c2 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 0px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.wtextbox {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.textarea {
	BORDER-RIGHT: #2a5973 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #2a5973 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; BORDER-LEFT: #2a5973 1px solid; BORDER-BOTTOM: #2a5973 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; BACKGROUND-COLOR: white
}
.button {
	BORDER-RIGHT: #2a5973 1px solid; BORDER-TOP: #2a5973 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #2a5973 1px solid; WIDTH: 80px; CURSOR: hand; BORDER-BOTTOM: #2a5973 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px
}
.button_litle {
	BORDER-RIGHT: #2a5973 1px solid; BORDER-TOP: #2a5973 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #2a5973 1px solid; WIDTH: 18px; CURSOR: hand; BORDER-BOTTOM: #2a5973 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 18px
}
.button_p {
	BORDER-RIGHT: #2a5973 1px solid; BORDER-TOP: #2a5973 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #2a5973 1px solid; WIDTH: 48px; CURSOR: hand; BORDER-BOTTOM: #2a5973 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; HEIGHT: 30px
}
.linkbutton_litle {
	VERTICAL-ALIGN: middle; WIDTH: 14px; CURSOR: hand; HEIGHT: 14px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.dtree A.node {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.dtree A.nodeSel {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.dtree A.node:hover {
	TEXT-DECORATION: underline
}
.dtree A.nodeSel:hover {
	TEXT-DECORATION: underline
}
.dtree A.nodeSel {
	BACKGROUND-COLOR: #c0d2ec
}
.dtree .clip {
	OVERFLOW: hidden
}
.table_1 TD {
	FONT-SIZE: 11px; VERTICAL-ALIGN: text-top; FONT-FAMILY: Verdana, Geneva
}
.table_1 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.table_1 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.table_1 A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.table_4 TD {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Geneva; BACKGROUND-COLOR: #999966
}
.div_scroll {
	PADDING-RIGHT: 0px; MARGIN: 0px; OVERFLOW: auto; HEIGHT: 400px
}
.div_scroll_visible {
	PADDING-RIGHT: 0px; MARGIN: 0px; OVERFLOW: auto; HEIGHT: 400px
}
.div_scroll_client {
	PADDING-RIGHT: 0px; MARGIN: 0px; OVERFLOW: auto; HEIGHT: 250px
}
.div_scroll_client_ {
	PADDING-RIGHT: 0px; MARGIN: 0px
}
.div_scroll_fisa {
	PADDING-RIGHT: 0px; MARGIN: 0px; OVERFLOW: auto; HEIGHT: 200px
}
.menu_link {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
HTML .menu_link {
	PADDING-RIGHT: 1px; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; WIDTH: 1px; PADDING-TOP: 1px
}
HTML .menu_link LI {
	DISPLAY: inline
}
.menu_link A1 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: #d4d4d4; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
.menu_link A:visited {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: #d4d4d4; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
HTML .menu_link A {
	DISPLAY: inline-block
}
HTML .menu_link A:visited {
	DISPLAY: inline-block
}
.menu_link A:hover {
	BACKGROUND: #ff9966; COLOR: #000
}
.lefted_link {
	FONT-WEIGHT: bolder; FONT-SIZE: 1em; MARGIN: 1px
}
.button_litle_p {
	BORDER-RIGHT: #2a5973 1px solid; BORDER-TOP: #2a5973 1px solid; FONT-SIZE: 11px; LEFT: 620px; BORDER-LEFT: #2a5973 1px solid; WIDTH: 18px; CURSOR: hand; BORDER-BOTTOM: #2a5973 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; POSITION: absolute; TOP: 116px; HEIGHT: 18px
}
.hand {
	CURSOR: hand; TEXT-ALIGN: right
}
